{% extends "base.html" %}

{% block head %}
    <title>Answer list</title>
{% endblock %}
{% block body %}
    <table width="1000" border="1">
        <thead>
            <tr>
                <th>{{ question['title'] }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question['message'] }}</td>
        </tr>
        </tbody>
    </table>

    <table border="1" width="1000">
        <thead>
            <tr>
                {% for i in header %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for answer_dict in all_answer %}
                <tr>
                    {% if answer_dict['question_id'] == question['id'] %}
                        {% for answer_key in answer_dict.items() %}
                                <td>
                                    {{ answer_key[1] }}
                                    {% if answer_key[0] == 'message' %}
                                        <a href="/answer/{{ answer_dict['id'] }}/delete">(del)</a>
                                    {% elif answer_key[0] == 'vote_number' %}
                                        <a href="/answer/{{ answer_dict['id'] }}/vote-up">(▲)</a>
                                        <a href="/answer/{{ answer_dict['id'] }}/vote-down">(▼)</a>

                                    {% endif %}
                                </td>

                        {% endfor %}
{# todo                       <td>There is no answer for your question yet! :(</td>#}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/question/{{ question['id'] }}/new-answer">New answer</a>
    <a href="/">Back to questions</a><br>
{% endblock %}