{% extends "base.html" %}

{% block head %}
    <title>Answer list</title>
{% endblock %}
{% block body %}
    <table width="1000" border="1">
        <thead>
            <tr>
                <th>{{ question['title'] }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question['message'] }}</td>
        </tr>
        </tbody>
    </table>

    <table border="1" width="1000">
        <thead>
            <tr>
                {% for i in header %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in all_answer %}
                <tr>
                    {% if item['question_id'] == question['id'] %}
                        {% for i in item.items() %}
                            {% if i[0] != "title" %}
                                <td>
                                    {{ i[1] }}
                                </td>
                            {% else %}
                                <td>
                                    <a href="/question/{{ item['id'] }}">{{ item['title'] }}</a>
                                </td>
                            {% endif %}
                        {% endfor %}
{#                        <td>There is no answer for your question yet! :(</td>#}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/question/{{ question['id'] }}/new-answer">New answer</a>
    <a href="/">Back to questions</a><br>
{% endblock %}