{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>

{% block content %}
<body>
    <table border="1">
        <thead>
            <tr>
                {% for i in header %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in all_question %}
                <tr>
                    {% for i in item.values() %}
                        <td>
                            {{ i }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="">New question</a>
</body>
{% endblock %}