{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>

{% block content %}
<body>
    <table border="1">
        <thead>
            <tr>
                {% for i in header %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in all_question %}
                <tr>
                    {% for i in item.items() %}
                        {% if i[0] != "title" %}
                            <td>
                                {{ i[1] }}
                            </td>
                        {% else %}
                            <td>
                                <a href="/question/{{ item['id'] }}">{{ item['title'] }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/question/add_question">New question</a>
</body>
{% endblock %}