{% extends "base.html" %}

{% block head %}
    <title>Question list</title>
{% endblock %}
{% block body %}
    <table border="1">
        <thead>
            <tr>
                {% for i in header %}
                    {% if not loop.first %}
                        <th>{{ i }}
                            <form action="/list" method="get" name="desc" id="desc" ><a href=/list>▼</a></form>
                        <a href="/list" id="descending" name="descending">▼</a>
                        <a href="/list" id="ascending" name="descending">▲</a></th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question_dict in all_question %}
                <tr>
                    {% for i in question_dict.items() %}
                        {% if loop.first %}
                            {{ continue }}

                        {% elif i[0] == "vote_number" %}
                            <td>
                                <a href="/question/{{ question_dict['id'] }}">{{ question_dict['vote_number'] }}</a>
                                <a href="/question/{{ question_dict['id'] }}/vote-up">(▲)</a>
                                <a href="/question/{{ question_dict['id'] }}/vote-down">(▼)</a>
                            </td>
                        {% elif i[0] != "title" %}
                            <td>
                                {{ i[1] }}
                            </td>

                        {% else %}
                            <td>
                                <a href="/question/{{ question_dict['id'] }}">{{ question_dict['title'] }}</a>
                                <a href="/question/{{ question_dict['id'] }}/edit">(edit)</a>
                                <a href="/question/{{ question_dict['id'] }}/delete">(del)</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add_new_question">New question</a>
{% endblock %}