{% extends "base.html" %}

{% block head %}
    <title>Question list</title>
{% endblock %}
{% block body %}
    <table border="1">
        <thead>
            <tr>
                {% for i in header %}
                    {% if not loop.first %}
                        <th>{{ i }}
                            <form action="/list/{{ name, id }}" method="get" name="asc" id="asc" ><a href=/list>▲</a></form>
                            <form action="/list/{{ name, id }}" method="get" name="desc" id="desc" ><a href=/list>▼</a></form>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question_dict in all_question %}
                <tr>
                    {% for i in question_dict.items() %}
                        {% if not loop.first %}
                            {% if i[0] != "title" %}
                                <td>
                                    {{ i[1] }}
                                </td>
                            {% else %}
                                <td>
                                    <a href="/question/{{ question_dict['id'] }}">{{ question_dict['title'] }}</a>
                                    <a href="/question/{{ question_dict['id'] }}/delete">(del)</a>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add_new_question">New question</a>
{% endblock %}